/* oswald-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/oswald-v53-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald-v53-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --white: #fff;
  --firm: #21062a;
  --akcent: #5a0d67;
  --grey: #c4c4c4;
  --dark: #2c2b2b;
  --oswald: "Oswald", sans-serif;
}
html {
  box-sizing: border-box;
}
* {
  /*завжди пишеться в код  */
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h6 {
  margin: 0;
}
*::after,
*::before {
  box-sizing: border-box;
  /* щоб правилтно наслідувались властивості від батьків */
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
a {
  color: inherit;
  /* щоб наслідувався колір зсилок від батьків*/
  text-decoration: none;
  /* підкреслення */
  display: inline-block;
  cursor: pointer;
}
.big-container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
body {
  color: var(--dark);
  font-family: var(--oswald);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.1;
  scroll-behavior: smooth;
  position: relative;
}
.header__image {
  position: absolute;
  background-color: var(--firm);
  background-image: url(../images/hero-fon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 700px;
  width: 100vw;
  z-index: -1;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 47px;
  padding-bottom: 105px;
}
.header__telefon {
  color: var(--white);

  font-family: var(--oswald);
  font-size: 36px;

  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
}
.hero {
  color: #fff;
}
.hero__soc-icon {
  width: 25px;
  height: 25px;
}
.soc-icon:hover path {
  fill: var(--dark);
}
.hero__title {
  font-family: var(--oswald);
  font-size: 72px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
}
.hero__subtitle {
  font-family: var(--oswald);
  font-size: 36px;

  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero__text {
  margin-bottom: 30px;
}

.hero__btn {
  padding: 14px 54px;
  border: 1px solid var(--akcent);
  background-color: var(--akcent);
  font-family: var(--oswald);
  font-size: 14px;
  font-weight: 300;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--white);
  transition: all 0.5s ease;
}
.hero__btn:hover {
  color: var(--akcent);
  background-color: var(--white);
}
.hero__social {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 66px;
  column-gap: 10px;
  padding-top: 70px;
}
.hero__bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 100px;
}
.services__title {
  font-family: var(--oswald);
  font-size: 36px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  position: relative;
  color: var(--firm);
  margin-bottom: 50px;
}
.services__title::after {
  content: "";
  position: absolute;
  bottom: 40%;

  left: 280px;
  height: 3px;
  width: 80px;
  background-color: var(--firm);
}

.services__wrapper-left {
  max-width: 504px;
}
.services__wrapper {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: 100px;
  column-gap: 96px;
}
.services__subtitle {
  color: var(--akcent);
  margin-bottom: 12px;
}
.top {
  margin-bottom: 12px;
}
.bottom {
  margin-bottom: 69px;
}
.down {
  margin-bottom: 50px;
}
.services__wrapper-right {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 12px;
}
.services__card-container {
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid var(--grey);
  width: 450px;
}
.card__number {
  font-family: var(--oswald);
  font-size: 36px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--grey);
  transform: rotateZ(-90deg);
  margin: 20px;
}
.services__card-container:hover {
  border: 1px solid var(--akcent);
  width: 500px;
}
.services__card-container:hover .card__title,
.services__card-container:hover .card__number {
  color: var(--akcent);
}
.card__texts {
  margin-left: 20px;
}
.why__wrapper {
  display: flex;
  justify-content: start;
  align-items: start;
  column-gap: 95px;
  margin-bottom: 100px;
}
.why__contant {
}
.why__title {
  color: var(--firm);
  font-family: var(--oswald);
  font-size: 36px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 50px;
}
.why__title::after {
  content: "";
  position: absolute;
  bottom: 40%;
  left: 270px;
  height: 3px;
  width: 80px;
  background-color: var(--firm);
}
.why__fon-wrapper {
  background-color: var(--firm);
  color: #fff;
  min-width: 785px;
  padding-left: 185px;
}
.why__number {
  padding-top: 20px;
  font-family: var(--oswald);
  font-size: 36px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
}
.why__subtitle {
  font-family: var(--oswald);
  font-size: 24px;
  font-weight: 300;
  line-height: 1, 1;
  padding-top: 10px;
  padding-bottom: 10px;
}
.why__text {
  font-family: var(--oswald);
  font-size: 18px;
  font-weight: 300;
  line-height: 1.1;
  color: var(--grey);
  max-width: 316px;
}
.why-vidstup {
  padding-bottom: 45px;
}
.slider__container {
  margin-bottom: 100px;
  margin-left: 15px;
  margin-right: 20px;
}
.slider__slide {
  border: 1px solid var(--grey);
  margin: 0 7px;
  text-align: center;
  transition: all 0.5s ease;
}
.slider__slide:hover {
  background-color: var(--akcent);
  color: #fff;
  border-color: var(--akcent);
}
.slider__foto {
  padding: 7px 4px 23px 4px;
  width: 380px;
  height: 250px;
}
.carusele__title {
  font-family: var(--oswald);
  font-size: 36px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  position: relative;
  color: var(--firm);
  margin-bottom: 56px;
}
.carusele__title::after {
  content: "";
  position: absolute;
  bottom: 40%;
  left: 490px;
  height: 3px;
  width: 80px;
  background-color: var(--firm);
}

.slider__title {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-stretch: semi-condensed;
}
.slider__text {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 11px;
}
.slider__container .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  column-gap: 20px;
}
.slider__container .slick-dots button {
  font-size: 0;
  background-color: var(--grey);
  width: 50px;
  height: 1px;
  border: none;
}
.slider__container .slick-active button {
  background-color: var(--akcent);
  height: 3px;
}
.contact__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.contact__title {
  font-family: var(--oswald);
  font-size: 36px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  position: relative;
  color: var(--firm);
  margin-bottom: 50px;
  margin-top: 50px;
  font-stretch: semi-condensed;
}
.contact__title::after {
  content: "";
  position: absolute;
  bottom: 40%;
  left: 220px;
  height: 3px;
  width: 80px;
  background-color: var(--firm);
}
.contact__adress {
  color: var(--akcent);
}
.adress__text {
  margin-bottom: 20px;
}
.contact__form {
  background-color: var(--firm);
  width: 600px;
  height: 466px;
}
.zakaz {
  padding: 50px 75px 57px 75px;
}
.form__title {
  font-family: var(--oswald);
  font-size: 36px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  position: relative;
  color: var(--white);
  margin-bottom: 16px;
  margin-left: 53px;
  font-stretch: semi-condensed;
}

.form__title::after {
  content: "";
  position: absolute;
  bottom: 40%;
  left: 285px;
  height: 3px;
  width: 80px;
  background-color: var(--white);
}
.form__name {
  display: block;
  text-align: center;
  color: var(--grey);
  padding: 24px 50px;
  width: 450px;
  background-color: transparent;
  border: 1px solid var(--white);
  margin-bottom: 12px;
  outline: none;
  font-size: 18px;
}
.form__btn {
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--akcent);
  padding: 14px 72px;
  border: 1px solid var(--akcent);
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 66px;

  margin-left: auto;
  margin-right: auto;
}
.form__btn:hover {
  color: var(--akcent);
  background-color: var(--white);
}
.footer {
  background-color: var(--firm);
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  color: #fff;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.footer__copirate {
  font-size: 18px;
}
.burger__menu {
  display: none;
}
.menu {
  background-color: var(--firm);
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  transition: all 0.5s;
  z-index: 7;
}
.close-btn {
  width: 37px;
  height: 37px;
  background-color: var(--primapy-dark);
  position: absolute;
  right: 30px;
  top: 60px;
  cursor: pointer;
}
.menu.active {
  left: 0;
}
.close-btn:hover {
}
.close-btn::after,
.close-btn::before {
  content: "";
  width: 50px;
  height: 2px;
  background-color: var(--white);
  position: absolute;
  transform-origin: left;
}
.close-btn::after {
  transform: rotate(45deg);
}
.close-btn::before {
  transform: rotate(-45deg);
  bottom: -1px;
}

.menu__list {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__list a {
  font-size: 25px;
  color: #ffffff;

  font-weight: 700;

  border-bottom: 3px solid var(--akcent);
  padding: 30px 0 14px;
  display: inline-block;
  min-width: 200px;
  width: 100%;
  transition: all 0.5s;
}
.menu__list a:hover {
  border-bottom: 3px solid var(--white);
  color: #fff;
  transform: scale(1.2);
  margin-left: 37px;
}
.container-menu {
  position: relative;
}
@media (max-width: 1200px) {
  .hero__bottom-container {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }
  .services__wrapper {
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .header__telefon {
    display: none;
  }
  .burger__menu {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
  }
  .burger__menu div {
    width: 35px;
    height: 1px;
    border: 1px solid var(--white);
  }
  .burger__menu:hover {
    border-radius: 10px;
    border: 1px solid #fff;
  }
  .hero__title {
    font-size: 60px;
    text-align: center;
  }
  .hero__subtitle {
    font-size: 28px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .services__card-container {
    width: 300px;
  }
  .services__card-container:hover {
    width: 300px;
  }
  .services__title::after {
    display: none;
  }
  .services__wrapper {
    margin-bottom: 40px;
  }
}
@media (max-width: 450px) {
  .hero__title {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .hero__subtitle {
    font-size: 20px;
  }
  .header__menu {
    padding-bottom: 40px;
  }
  .hero__bottom-container {
    margin-bottom: 50px;
  }
  .hero__btn {
    text-align: center;
  }
}
